<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignment8</title>
</head>
<body style="text-align: center" >
    <h1>Assignment 8</h1>
    <h2> Practice Jinja and Flask </h2>
    <div>
        {% set user = {'firstname':"Ran", 'lastname':"Sela"} %}
        <h1>Hello {{ user.firstname }} {{ user.lastname }}</h1>
        <h2>My Family:</h2>
        <ul>
        {% for name in family %}
            <li>{{name}}</li>
        {% endfor %}
        </ul>
    </div>
    <div id="if/else">
        <p>
            {% if user %}
            <h2>The user is logged in</h2>
            {% else %}
            <h2>The user is not logged in / registered</h2>
            {% endif %}
        </p>
    </div>

    {% include('userlist.html') %}

    {% block Try %}

    {% endblock %}
</body>

</html>